/*.search-bar { background-color: #222; }*/
.search-bar * { color: white !important; text-align: center;}
.search-bar input { border-bottom-color: white;}
.md-errors-spacer { display:none; }

body {
    background: #999;
}

.content{
    background: #999;
}

@media only screen and (min-width: 769px) {
    /* For desktop: */
    .content{
        padding: 15px 35px 35px;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .content{
        padding: 0px;
    }
}

.material-icons {
    margin-right: 0;
 }

 .card{
    cursor: pointer;
 }